.home-complete {
  margin: 0;
  #header_stains{
   #top_stain {
      transform: translateY(65px);
      width: 100%;
    }
  }
  #footer_stains {
    height: 56px;

    #bottom_stain {
      transform: translateY(-130px);
      width: 100%;
    }
  }
  .home-page{
    @media screen and(max-width:1024px) {
      transform: translateY(-20rem);
      grid-template-columns: 610px 1fr;
      margin: 250px 20px 50px
    }
    @media screen and(max-width: 720px) {
      
      grid-template-columns: 1fr;
      margin: 250px 0px 50px;
    }
    
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  margin: 0;
  transform: translateY(-10rem);


  

  .main {
    margin-left: 1rem;
    @media screen and(max-width:720px) {
      margin: 0 0.5rem;
    }
    .home-header {
      text-align: center;

      
      .connection-form {
        background: $color-4;
        border: 3px solid $color-3;
        border-radius: 8px;
        padding: 35px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 28px;
        

          
        }
        form {
          label{
            @media screen and(max-width:720px) {
         font-size: 1.4rem; 
        }
            font-size: 1.6em;
            text-shadow: 2px 3px 0px $color-1;
          }
          #email, #password, #pseudo, #password-conf {
            @media screen and(max-width:720px) {
          width: 75vw;
          padding: 0.5rem 0;
        }
            width: 50vw;
             padding: 0.8rem 0;
            font-size: 1.3rem;
            font-family: $font-2;
            
          }

           #terms{
          position:relative;
          right: 8px;
          top: 8px;
        }
        #conditions{
          @media screen and(max-width:720px) {
          font-size: 1.2rem;
        }
          font-family: $font-5;
          font-size: 1.6em;
          position: relative;
          bottom: -10px;
          left: 14px;
          text-shadow: none;
          color: $color-3;
        
        a {
          color: rgb(96, 0, 213);
          text-shadow: none;
        }
        }
          input[type=submit] {
            @media screen and(max-width:720px) {
         width: 25vw;
         font-size: 1.4rem; 
        }
            margin-top: 1rem;
            padding-bottom: 0.2rem;
            text-shadow: 2px 3px 0px $color-1;
            cursor: pointer;
            font-family: $font-3;
            padding: 0.6rem 0;
            font-size: 1.6em;
          }
        }
      }
    }
    
  }
  .right-side {
    width: 100%;
    margin: 13rem 1rem 0 1rem;
    position: -webkit-sticky;
    
    @media screen and(max-width:1024px) {
      width: 60%;
    }

    @media screen and(max-width: 720px) {
      display: none;
    }
  
    
  }
}
}
