.profil-complete {

  #header_stains {
    #top_stain {
      transform: translateY(65px);
      width: 100%;
    }
  }
  #footer_stains {
    height: 56px;

    #bottom_stain {
      transform: translateY(-130px);
    }
  }

  .profil-page {
    @media screen and(max-width:1024px) {
     transform: translateY(-56px);
    }

    transform: translateY(-86px);
  }
  .icons {
    top: 55px;
  }

  .log-container {
    margin: 0 auto;
  }

  .connection-form {
    background: $color-4;
    min-width: 520px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 1px 20px 6px #898989c7;

    @media screen and(max-width: 550px) {
      min-width: 200px;
    }

    .form-container {
      display: grid;
      grid-template-columns: 25% 75%;

      @media screen and(max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin: 3rem 0 0 4rem;
      }
      form {
        padding: 20px 8px;

        label {
          font-size: 1.6em;
          color: $color-1;
          text-shadow: 2px 3px 0px $color-3;
        }
        input {
          width: 50vw;
          padding: 0.8rem 0;
          text-align: center;
          margin-top: 1rem;
          font-size: 1.3rem;
          font-family: $font-5;

          &:last-child {
            width: 25vw;
            text-shadow: 2px 3px 0px $color-1;
            cursor: pointer;
            font-family: $font-3;
            font-size: 1.6em;

            &:hover {
              color: color-1;
            }
          }
        }

        #terms {
          width: 1vw;
          position: relative;
          right: 20px;
          top: -4px;
        }

        #conditions {
          font-family: $font-5;
          font-size: 2em;
          text-shadow: none;
          color: $color-3;

          a {
            color: rgb(96, 0, 213);
            text-shadow: none;
          }
        }
      }
    }
  }
  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }
  
  .profil-container {
    margin-top: 1rem;
    h2 {
      margin-left: 30vw;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 3rem;
      font-family: $font-4;
      text-shadow: 1px 2px 0 $color-1;
    }

    .update-container {
      display: flex;

      @media screen and(max-width: 700px) {
        flex-direction: column;
      }

      
      .left-part {
        @media screen and(max-width:1024px) {
          width: 30vw;
        }
        flex: 1;
        height: 80vh;
        text-align: center;
        background-image: url("../assets/img/cadre_brush_orange.png");
        background-repeat: no-repeat;
        background-size: 89% 98%;
        background-position: 1.5rem 0.4rem;
        padding: 3.5rem 2.5rem 2.5rem;

        h3 {
          margin-bottom: 12px;
        }

        img {
          height: 150px;
          width: 150px;
          border-radius: 6px;
          object-fit: cover;
          margin-bottom: 1rem;
          box-shadow: 0px 2px 8px 1px #5b5b5bca;
        }
        form {
          label {
            @media screen and(max-width:1024px) {
              width: 16vw;
            }
            background-image: url("../assets/img/brush_btn2_inactive2.png");
            background-repeat: no-repeat;
            background-size: 99% 88%;
            background-position: 0.5rem 0.4rem;

            width: 270px;
            color: $color-2;
            display: inline-block;
            padding: 1rem 0;
            z-index: 10;
            cursor: pointer;
          }
          input[type="file"] {
            opacity: 0;
            transform: translate(1rem, -100%);
            cursor: pointer;
            padding: 1rem 2rem;

            @media screen and(max-width: 1121px) {
              opacity: 0;
            }
          }
          input[type="submit"] {
            @media screen and(max-width:1024px) {
              transform: translate(0.5rem, -80%);
              width: 18vw;
            }
            width: 20vw;
            transform: translate(0.5rem, -40%);
            padding: 1rem 0;
     
          }
        }
        p {
          color: red;
          font-family: $font-3;
          margin-top: 6px;
        }
      }
      .center-part {
        flex: 2;
         display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;

        padding: 3.5rem 0;
        .bio-update {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            margin-bottom: 12px;
          }
          p,
          textarea {
            width: 100%;
            min-height: 40vh;
            font-family: $font-2;
            border: 2px solid $color-1;
            border-radius: 6px;
            padding: 1rem 1.5rem;
            font-size: 1.1rem;
          }
          textarea {
            margin-bottom: -6px;
            font-size: 1.2rem;
          }
          button {
            width: 20vw;
            margin: 1.2rem 0;
            padding: 1rem 0;
          }
        }
        
      }
      .right-part {
        margin-right: 2.5rem;
        flex: 1;
        max-width: 25vw;
        text-align: center;
        padding: 2rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        h4 {
          @media screen and(max-width:1024px) {
            margin-left: 2rem;
          }
          font-family: $font-2;
        }
        .follow-count,
        .followers-count {
          box-sizing: border-box;
          width: 28vw;
          height: 30vh;
          overflow-y: scroll;
          padding: 2rem 0.5rem;
          font-family: $font-3;
          margin: 20px 0;
          font-size: 1.1rem;
          transition: 0.2s;
          cursor: pointer;
          .follow-titlles {
            position: fixed;
            font-size: 1.8rem;
          }
          ul {
            width: 26vw;
            max-height: 20vh;
            overflow-y: scroll;
            overflow-x: hidden;
            border: none;

            li {
              width: 26vw;
              display: flex;
              justify-content: center;
              align-items: center;
              align-items: center;
              margin: 0.5rem 0;
              background-color: transparent;

              .user-profil-pic {
           
                height: 48px;
                width: 47px;
                object-fit: cover;
                transform: translateX(1.1rem);
              }
              .cadre {
                height: 52px;
                width: 52px;
                object-fit: fill;
                z-index: 10;
                transform: translateX(-2rem);
              }

              h4 {
                width: 9vw;
                text-align: left;
                margin-right: 1rem;
               text-transform: uppercase;
              }
              .follow-handler {
                background-color: transparent;
                cursor: pointer;
                

                
              }
            }
          }
        }
        .follow-count {
          color: $color-1;
          background-image: url("../assets/img/brush_textarea_focus.png");
          background-repeat: no-repeat;
          background-size: 90% 98%;
          background-position: 1.7rem 0rem;

          
        }

        .followers-count {
          color: $color-3;
          background-image: url("../assets/img/brush_textarea_user.png");
          background-repeat: no-repeat;
          background-size: 90% 98%;
          background-position: 1.7rem 0rem;
        }
      }
    }
    /* .popup-profil-container {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    animation: popup 1s forwards;

    @keyframes popup {
      to {
        backdrop-filter: blur(2px);
      }
    }

    .modal {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-100%);
      background: $color-2;
      padding: 25px;
      border-radius: 20px;
      box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
      overflow: auto;
      transform: scaleY(0);
      transform-origin: center;
      animation: modal .5s forwards;

      h3 {
        min-width: 200px;
      }

      @keyframes modal {
        to {
          transform: scale(1) translate(-50%);
        }
      }

      .cross {
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }
      }

      
    }
  } */
  }
}
