.connection-form {
  margin-top: 8rem;
  user-select: none;
  text-align: center;
  .form-container {
    ul {
      

    

    li {
            padding: 1rem 2rem;
            transition: .2s;
            margin: 0 8px;
            color: $color-1;
          
            width: 155px;
            cursor: pointer;
            padding: 16px 28px;
            
            
          }
          li:not(.active-btn) {
            background-image: url('../assets/img/brush_btn1.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-x: 8px;
            background-position-y: 5px;
            &:hover {
              text-shadow: 1px 2px 0px $white;
              color: $color-3;
              background-image: url('../assets/img/brush_btn1_hover.png');
              background-repeat: no-repeat;
              background-size: 100%;
              background-position-x: 8px;
              background-position-y: 5px;
              }
          }
          .active-btn {
    background-image: url('../assets/img/brush_btn2_inactive2.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-x: 3px;
            background-position-y: 0px;

            &:hover {
              background-image: url('../assets/img/brush_btn2_inactive2.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-x: 3px;
            background-position-y: 0px;
            }
    
  }
  
  
  }
}
}

