.post-container {
  @media screen and(max-width:1024px) {
    width: 58vw;
  }
  @media screen and(max-width: 720px) {
    width: 97.5vw;
  }
  width: 68vw;
  background: transparent;

  

  .user-info {
    margin-bottom: 10px;
    img {
      @media screen and(max-width:1024px) {
        height: 9rem;
        width: 9rem;
        transform: translate(-0.2rem, 3.7rem);
      }
      @media screen and(max-width:720px) {
        height: 8rem;
        width: 8rem;
        transform: translate(-1.5rem, 3.7rem);
      }
      height: 12rem;
      width: 12rem;
      transform: translate(-11rem, 8rem);
      z-index: 2;
      object-fit: cover;
    }
    .profil-post-border {
      @media screen and(max-width:1024px) {
        height: 10.5rem;
        width: 10.5rem;
        transform: translate(-10rem, 4.5rem);
      }
      @media screen and(max-width:720px) {
        height: 9.4rem;
        width: 9.4rem;
        transform: translate(-10.2rem, 4.5rem);
      }
      height: 13rem;
      width: 13rem;
      object-fit: fill;
      z-index: 10;
      transform: translate(-23.5rem, 8.3rem);
    }
  }
  .border-post {
    border: 3px solid $color-1;
    border-radius: 6px;
    min-height: 50vh;
    .new-post {
      padding: 0.5rem 1rem 0rem 1rem;
      background: transparent;
      width: 100%;
      display: flex;

      .right-part-post {
        @media screen and(max-width:1024px) {
          display: none;
        }
        flex: 1;
      }

      .left-part-post {
        @media screen and(max-width:1024px) {
          width: 100%;
        }
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        .follow-counters {
          text-align: right;

          @media screen and(max-width: 720px) {
            font-size: 0.9rem;
          }
          @media screen and(max-width: 380px) {
            display: none;
          }

          span {
            color: $color-1;
          }
        }

        .post-title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          h3 {
            @media screen and(max-width: 720px) {
              font-size: 1.4rem;
            }
            font-family: $font-2;
            #pseudo {
              font-family: $font-4;
              color: $color-1;
            }
          }
        }
        .new-post-area {
          margin-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          .post-form {
            @media screen and(max-width: 720px) {
              margin-bottom: 0;
            }
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 1rem;

            #pen-new-post {
              width: 1.5vw;
              z-index: 4;
              transform: translateX(4.5rem);
            }

            textarea {
              @media screen and(max-width:1024px) {
                font-size: 1.2rem;
              }
              height: 62px;
              width: 100%;
              height: 18vh;
              font-size: 1.4rem;
              padding: 1rem 6rem;
              background-image: url("../assets/img/brush_btn1.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: 0.5rem -0.1rem;
              margin-right: 1rem;
            }
            .icon {
              width: 50px;
              height: 50px;

              img {
                height: 50px;
                width: 50px;
                transform: translate(-0.2rem, -0.1rem);
                z-index: 2;
              }
              input[type="file"] {
                transform: translate(-2.5rem, 0.2rem);
              }

              button {
                @media screen and(max-width: 720px) {
              transform: translate(-22.5rem, 20rem);
            }
                width: 190px;
                padding: 10px 20px;
                transform: translate(-31rem, 8rem);
              }

              input {
                width: 25px;
                height: 25px;
                position: absolute;
                transform: translate(-16px, -3px);
                opacity: 0;
                cursor: pointer;

                &::-webkit-file-upload-button {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .footer-new-post {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 2vh;

      .card-container {
        .card-content {
          #thumb-post-picture {
            @media screen and(max-width: 1024px) {
              transform: translate(13rem, -3rem);
            }
            @media screen and(max-width: 720px) {
              transform: translate(6rem, -1.8rem);
            }
            margin-top: -2rem;
            transform: translate(18.2rem, -4rem);
          }
          #border-picture {
            @media screen and(max-width: 1024px) {
              transform: translate(0.8rem, -2rem);
            }
            @media screen and(max-width: 720px) {
              transform: translate(-6.2rem, -1rem);
            }
            transform: translate(6rem, -3rem);
          }
          #thumb-post-video {
            @media screen and(max-width: 1024px) {
              transform: translate(6.5rem, -15rem);
            }
            @media screen and(max-width: 720px) {
              transform: translate(-11rem, -2.5rem);
            }
            margin-top: 0rem;
            transform: translate(3rem, -4.1rem);
          }
          #border-video {
            @media screen and(max-width: 1024px) {
              transform: translate(6.4rem, -2.3rem);
            }
            @media screen and(max-width: 720px) {
              transform: translate(9rem, -1.5rem);
            }
            transform: translate(23rem, -3rem);
          }
        }
      }
      .error-messages {
        height: 2vh;
        p {
          font-family: $font-3;
          color: rgb(166, 45, 45);
        }
      }
    }
    .btn-send {
      @media screen and(max-width: 720px) {
          margin: 2rem 0 1.5rem;
        } 
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;

      .cancel {
        @media screen and(max-width: 720px) {
          padding: 0.6rem 2rem;
        }
        padding: 1rem 2rem;
        margin-right: 0.5rem;
        width: 20vw;
      }
      .send {
        @media screen and(max-width: 720px) {
          padding: 0.6rem 2rem;
        }
        width: 20vw;
        padding: 1rem 2rem;
      }
      button {
        @media screen and(max-width: 460px) {
          font-size: 0.8rem;
          padding: 8px;
        }
      }
    }
  }
}
